name: deploy Eapp-to-Tomcat
on:
  push:
    branches: [ "master" ]

jobs:
  build:
   runs-on: ubuntu-latest
   steps:
   - uses: actions/checkout@v4
   - name: set up jdk 17
   - uses: actions/setup-java@v4
     with:
       java-version: '17'
       distribution: 'temurin'
       cache: maven
   - name: build with maven
     run: mvn -B package --file pom.xml
     - name: deploy eapp to tomcat
     run: curl -v -u  -T $tomcat_user:$tomcat_pwd /home/runner/work/ci-cd/ci-cd/target/Ecomm.war 'http://13.215.190.59:8080/manager/text/deploy?path=/Ecomm.war' 
   
   
   
